@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.cl-modalContent {
  margin: auto;
}

.cl-rootBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 624px) {
  .cl-userProfile-root .cl-cardBox {
    height: calc(100svh - 4rem);
  }
}

@media screen and (min-width: 1024px) and (max-height: 1024px) {
  .cl-userProfile-root .cl-cardBox {
    height: calc(100svh - 9rem);
  }
}

@media screen and (min-width: 750px) {
  .scrollbar-w-4::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  .scrollbar-track-gray-lighter::-webkit-scrollbar-track {
    --bg-opacity: 0.5;
    background-color: #00000015;
  }

  .scrollbar-thumb-gray::-webkit-scrollbar-thumb {
    --bg-opacity: 0.5;
    background-color: #13131374;
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 2px;
  }
}
